*{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #24232b;
    padding: 24px;

}

.header {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2a8b8b;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.copyBtn {
    height: 30px;
    font-size: 10px;
}

.charLength {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 24px;
}

.charLength span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.checkboxes div {
    display: flex;
    gap: 5px;
    padding-bottom: 25px;
}

.generateBtn {
    width: 100%;
    font-size: 20px;
    padding: 20px;
}

.error {
    color: red;
    font-size: 20px;
}

.password-strength {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}